*,
body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
.main {
	will-change: transform;
	transition: transform 0.25s ease;

	&.active {
		transform: translateY(-70px);
	}
}

.container {
	display: flex;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.app-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.content {
	flex: 1;

	.tab-pannel {
		&.scroll {
			margin-right: 4px;
			height: calc(100vh - 36px);
			overflow-y: auto;
		}
	}

	main {
		width: 100%;
	}
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

input.input-main[type="text"] {
	font-family: var(--primary-ff);
	font-size: var(--font-size);
	color: var(--dark);
	// padding: 0 var(--padding-side);
	padding: 10px 10px 10px 40px;
	border: none;
	width: 100%;
	font-size: 16px;
	background-color: rgb(242, 242, 242);
	color: rgb(51, 51, 51);
	border-radius: 10px;
	outline: none;
	&::placeholder {
		color: #777;
	}
	&:focus {
		background: rgba(#000, 0.12);
	}
}

//
.h-card {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 260px;
	height: 320px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.01);

	.banner-image {
		position: relative;
		height: 70%;
		background-color: #e8e8e8;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
	}

	.artist-img {
		img {
			max-width: 50px;
			border-radius: 50%;
		}
	}

	.subtitle {
		font-size: 0.6em;
		color: rgba(0, 0, 0, 0.6);
		letter-spacing: 0.1em;
	}
}

.h100 {
	height: 100%;
}

// Menu APP
.tab-pannel {
	display: none;
	&.active {
		display: block;
	}
}

.sep {
	margin: 35px auto;
	border-right: 0;
	border-left: 0;
	border-top: 1px solid var(--disabled-inner);
	border-bottom: 0;
}

.sidebar-app {
	box-shadow: rgba(#000, 0.05) -1px 0px 0px inset;
	background: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
	width: 205px;
	.intro {
		padding: 20px 14px;
		-webkit-app-region: drag;
		h1 {
			display: flex;
			align-items: center;
			font-size: 18px;
			color: rgb(0, 0, 0);
			svg {
				margin-right: 6px;
			}
		}
		p {
			font-size: 15px;
			line-height: 1.5;
			margin-bottom: 0;
			color: rgba(0, 0, 0, 0.6);
		}
	}
	.sidebar-menu {
		font-size: var(--font-size);
		display: block;
		align-items: center;
		height: 100%;
		padding: 8px 0;
	}
	.nav-item {
		margin: 0 8px 5px;
		padding: 13px;
		cursor: pointer;
		border-radius: 6px;
		color: rgba(0, 0, 0, 0.8);
		display: flex;
		font-weight: 400;
		-webkit-box-align: center;
		align-items: center;
		transition: background-color 0.2s ease-in-out;
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-right: 10px;
			svg {
				width: 16px;
				height: 16px;
				path {
					transition: 0.2s ease;
					fill: rgba(0, 0, 0, 0.3);
				}
			}
		}
		&:hover {
			background: rgb(238, 238, 238);
		}
		&.active {
			background-color: rgb(238, 238, 238);
			font-weight: 700;
			svg path {
				fill: #41424d;
				// fill: #fff;
			}
		}
	}
	.nav-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 0px 14px 16px;
		&-item {
			color: rgba(0, 0, 0, 0.8);
			&:first-child {
				padding: 15px 0px 14px;
			}
			padding-top: 10px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			a {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.8);
				&:hover {
					color: var(--blue);
				}
			}
		}
	}
}
article {
	a {
		font-weight: bold;
		color: var(--dark);
	}
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
	background: rgba(#000, 0.5);
	display: none;
}

.debug-window {
	width: 250px;
	z-index: 9999;
	position: fixed;
	display: none;
	right: 30px;
	bottom: 20px;
	padding: 15px;
	pointer-events: none;
	background: #1a1a1a;
	border-radius: var(--radius);
	color: #fff;
	opacity: 0.925;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	.p-small {
		font-size: 12px;
	}

	.p-light {
		opacity: 0.4;
	}

	a,
	p,
	dt,
	dd {
		line-height: 1.2;
		font-size: 12px;
		color: #fff;
		word-break: break-all;
	}

	dl {
		align-items: flex-start;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	a {
		display: inline-block;
		line-height: 1.5;
		text-decoration: underline;
	}

	&.active {
		display: block;
	}
}
.progress-bar {
	width: 100%;
	background-color: #eee;
	overflow: hidden;
	position: realtive;
	border-radius: 100px;
	margin-top: 15px;
	// box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.progress-bar-fill {
	display: block;
	height: 8px;
	width: 0;
	background-color: #005ff9;
	border-radius: 6px;
}
.video-found {
	flex: 0 1 100%;
	// align-items: flex-start;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
	.video-inner {
		position: relative;
		.video-thumbnail {
			background-size: cover;
			overflow: hidden;
			background-position: center;
			width: 100%;
			height: 150px;
			position: relative;
			border-radius: var(--radius);
			background-color: #eee;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.artist-info {
			margin-top: 15px;

			.video-title {
				font-weight: bold;
				color: var(--tcolor);
				// margin-bottom: 5px;
				width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.video-list {
	width: 100%;

	.video-head {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		p {
			margin-right: auto;
			margin-bottom: 0;
		}
	}

	ul {
		display: grid;
		column-gap: 15px;
		row-gap: 15px;
		grid-template-columns: repeat(4, 1fr);
		width: 100%;
		max-height: 450px;
		overflow-y: auto;
		padding-right: 15px;

		li {
			padding: 0;
			margin: 0;

			label {
				padding: 15px;
				display: flex;
				align-items: center;
				width: 100%;
				cursor: pointer;
				border-radius: var(--radius);
				background: var(--disabled);

				span {
					font-size: 0.875rem;
					margin-left: 10px;
				}
			}
		}
	}
}

.name {
	float: left;
}
.pct {
	float: right;
}

.loader {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	&-text {
		color: #fff;
		font-weight: 700;
		text-shadow: rgba(#000, 0.75) 1px 0 3px;
		z-index: 101;
	}
	&-fill {
		z-index: 100;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba($color-blue-ribbon, 0.9);
		width: 0;
		height: 100%;
	}
}
.checkmark_parent {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&.finish {
		background: rgba(#000, 0.75);
	}
}
.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 4;
	stroke-miterlimit: 10;
	stroke: #fff;
	fill: none;
	// animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	stroke-width: 4;
	stroke: #000;
	stroke-miterlimit: 10;
	margin: 10% auto;
	&.fill {
		animation: fill 0.4s ease-in-out 0.4s forwards,
			scale 0.3s ease-in-out 0.9s both;
	}
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	display: none;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #fff;
	}
}
.stop {
	position: sticky;
	top: 0;
	z-index: 999;
	background: #fff;
	padding-bottom: 10px;
}
.search-flex {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	svg {
		z-index: 1;
		position: absolute;
		left: 12px;
	}
}
::selection {
	background: rgba(#000, 0.2);
}
.enter-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 100%;
	p {
		letter-spacing: 0.05em;
		font-size: 10px;
		margin-top: 4px;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 700;
		opacity: 0.7;
	}
	svg {
		width: 32px;
		height: 32px;
	}
}
#updateModal {
	position: fixed;
	bottom: 20px;
	z-index: 99;
	left: 20px;
	width: auto;
	max-width: 260px;
	padding: 20px;
	border-radius: var(--radius);
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.entrance {
	animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation-delay: 0;
	will-change: transform, opacity;
}

@keyframes scale-in-center {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
