@mixin kit-ui-1 {
  box-shadow: 0px 0.5rem 0.8rem rgba($color-blue-ribbon, 0.1);
}

@mixin kit-ui-2 {
  box-shadow: 0px 0.5rem 0.8rem lighten($color-blue-ribbon, 31%);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  @include centerer;
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}