#titlebar {
	display: flex;
	position: relative;
	height: 36px;
	align-items: center;
	justify-content: space-between;

	#drag-region {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		-webkit-app-region: drag;
	}

	#window-controls {
		margin-right: 5px;
		display: flex;
		padding: 3px;
		align-items: center;
		height: 100%;
		-webkit-app-region: no-drag;

		.button {
			width: 26px;
			padding: 4px;
			height: 26px;
			border-radius: 50%;
			display: flex;
			margin-left: 6px;
			justify-content: center;
			align-items: center;
			user-select: none;
			cursor: pointer;
			transition: 0.12s ease;
			opacity: 0.4;
			.icon {
				width: 13px;
				height: 13px;
				fill: #333;
			}

			&:hover {
				opacity: 1;
				background: #eee;
			}
		}

		#min-button {
			grid-column: 1;
		}
		#close-button {
			grid-column: 2;
		}
	}
}
